app_dir = "<%= fetch(:deploy_to) %>/current/"
worker_processes 1
working_directory app_dir

preload_app true

timeout 1800

listen "#{app_dir}/tmp/sockets/roadmapbackend.socket"

pid "#{app_dir}/tmp/pids/unicorn.pid"
stderr_path "#{app_dir}/log/unicorn.stderr.log"
stdout_path "#{app_dir}/log/unicorn.stdout.log"

if GC.respond_to?(:copy_on_write_friendly=)
    GC.copy_on_write_friendly = true
end


before_fork do |server, worker|
    defined?(ActiveRecord::Base) and ActiveRecord::Base.connection.disconnect!

    old_pid = "#{server.config[:pid]}.oldbin"

    if File.exists?(old_pid) && server.pid != old_pid
        begin
            sig = (worker.nr + 1) >= server.worker_processes ? :QUIT : :TTOU
            Process.kill(sig, File.read(old_pid).to_i)
        rescue Errno::ENOENT, Errno::ESRCH
        end
    end
end

after_fork do |server, worker|
    defined?(ActiveRecord::Base) and ActiveRecord::Base.establish_connection
end