<tr width="100%">
  <td valign="top" align="left" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px">

    <h1 style="font-size:20px;margin:0"> Notification </h1>

    <hr style="clear:both;min-height:1px;border:0;border:none;width:100%;background:#dcdcdc;color:#dcdcdc;margin:18px 0;padding:0">
    <h3 style="font-size:18px;margin:18px 0">On
      <%= link_to @activity.entity.roadmap[:title], @activity.entity.roadmap[:link], targer: '_blank'  %>
      <%# <a href="https://trello.com/b/SXmRa0nQ/brd" target="_blank">Brd</a> %>
    </h3>

    <div>
      <div style="margin-bottom:18px;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
        <%#
        <strong>Алексей Магаданович</strong>

        created

        <a href="https://trello.com/c/iQlRZNxn/11--" target="_blank">фафа фафафа</a>

        in

        Doing1

        on

        <a href="https://trello.com/b/SXmRa0nQ/brd" target="_blank">Brd</a>
        %>
        <%= format_activity(@activity.entity.format) %>
      </div>
    </div>

  </td>
</tr>