<tr width="100%">
  <td valign="top" align="left" style="border-bottom-left-radius:4px;border-bottom-right-radius:4px;background:#fff;padding:18px">
    <h1 style="font-size:20px;margin:0"> Notification </h1>
    <hr style="clear:both;min-height:1px;border:0;border:none;width:100%;background:#dcdcdc;color:#dcdcdc;margin:18px 0;padding:0">
    <div>
      <div style="margin-bottom:18px;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
        <strong><%= @current_user.email %></strong>
        added you to
        <%= link_to(
            @user_roadmap.roadmap.name,
            "#{Roadmapbackend::Application.config.host_url}/r/#{@user_roadmap.roadmap.hashed_id}"
        )%> roadmap as <%= UserRoadmap::USER_RIGHTS.key(@user_roadmap.rights) %>
      </div>
    </div>
  </td>
</tr>