<table cellspacing="0" cellpadding="0" border="0" style="color:#333;background:#fff;padding:0;margin:0;width:100%;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
  <tbody>
  <tr width="100%">
    <td valign="top" align="left" style="background:#eef0f1;font:15px/1.25em 'Helvetica Neue',Arial,Helvetica">
      <table style="border:none;padding:0 18px;margin:50px auto;width:500px">
        <tbody>
        <tr width="100%" height="60">
          <td valign="top" align="left" style="border-top-left-radius:4px;border-top-right-radius:4px;background-color:#27709b;padding:10px 18px;text-align:center;color: #ffffff;font:24px/1.6em 'Helvetica Neue',Arial,Helvetica;">
            Roadmap Tool
            <%# <img height="40" width="125" src="https://ci3.googleusercontent.com/proxy/7m5AZPLRiWrS9iaZtGJvTrvU6-sObEiz9kbUukDCTWkGKVHg-PrW-CKqVf1lPGXN1AuheejYI8tlRA=s0-d-e1-ft#https://trello.com/images/logo-s.png" title="Trello" style="font-weight:bold;font-size:18px;color:#fff;vertical-align:top"> %>
          </td>
        </tr>

        <%= yield %>

        </tbody>
      </table>
    </td>
  </tr>
  </tbody>
</table>